.center {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.center-text {
    text-align: center;
    margin-right: auto;
    margin-left: auto
}

.column {
    margin: 20px;
    padding-bottom: 100%;
    margin-bottom: -100%;
    transition:all 2s ease-out;
}